.load{
    animation: rodar .5s infinite;
    color: rgb(15, 15, 160);
    width: 90px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

@keyframes rodar{
    0%{
        transform:rotate(0deg);
    }
    25%{
        transform:rotate(90deg);
    }
    50%{
        transform:rotate(180deg);
    }
    75%{
        transform:rotate(270deg);
    }
    100%{
        transform:rotate(360deg);
    }

}

